
        * {
            margin: 0;
            box-sizing: border-box;

        }

        #btn {
            display: block;
            height: fit-content;
            position: absolute;
            top: 8px;
            left: 30px;
        }

        #wrapper__modal {
            width: 100vw;
            height: 100vh;
            background: rgba(197, 188, 188, 0.5);
            margin: auto;
            position: absolute;
            z-index: 2;
            /* display: flex; */
            justify-content: center;
            align-items: center;
            display: none;
        }

        .modal {
            width: 30%;
            border-radius: 5px;
            background: white;
            text-align: center;
            position: relative;
        }

        h3 {
            padding: 24px 30px 0;
            font-size: 30px;
        }

        .btn {
            margin: 20px 0;
            padding: 8px 30px;
            border: none;
            font-size: 19px;
            text-transform: uppercase;
            background: darkseagreen;
            color: white;
            border-radius: 5px;
            cursor: pointer;
        }

        .show {
            display: flex !important;
            overflow: hidden;
        }



        #clouse__btn {
            position: absolute;
            right: 20px;
            font-size: 20px;
            top: 10px;
            cursor: pointer;
        }

        #modal__result {
            height: 100vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(218, 74, 74, 0.6);
            display: none;
        }


        .modal__box {
            width: 30%;
            height: 50%;
            border-radius: 5px;
            background: rgb(52, 44, 44);
            position: absolute;
            z-index: 5;


        }

        #modal__clouse__btn {
            position: absolute;
            right: 20px;
            font-size: 20px;
            top: 10px;
            cursor: pointer;
            color: white;
        }

        h2 {
            text-align: center;
            color: white;
        }

        #modal__info>div {
            color: white;
            padding: 10px;

        }
    